<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>用户列表</title>
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/userList.css">
</head>
<body>
<div class="my-body">
    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" @click="hideModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">编辑用户</h4>
                </div>
                <div class="modal-body">
                    <!--                    模态框编辑字段-->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="editUserID" class="col-sm-4 control-label">用户ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editUserID" v-model="editUser.id"
                                       readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editUsername" class="col-sm-4 control-label">用户名</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editUsername" v-model="editUser.username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editPassword" class="col-sm-4 control-label">密码</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="editPassword" placeholder="请输入密码"
                                       v-model="editUser.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editNickname" class="col-sm-4 control-label">昵称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editNickname" placeholder="请输入昵称"
                                       v-model="editUser.nickname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editEmail" class="col-sm-4 control-label">邮箱</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="editEmail" placeholder="请输入邮箱"
                                       v-model="editUser.email">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="hideModal()">取消</button>
                    <button type="button" class="btn btn-primary" @click="saveModal()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">用户列表数据</div>
        <div class="panel-body">
            <div>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="uname" v-model="searchData.uname"
                                   placeholder="请输入用户名进行搜索">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" id="passwd" v-model="searchData.passwd"
                                   placeholder="请输入密码进行搜索">
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" @click="getUsersList(1)">搜索</button>
                    <button type="button" class="btn btn-info" @click="showModal()">新增</button>
                    <button type="button" class="btn btn-primary" @click="selectAll()">
                        {{allSelect ? '取消' : '全选'}}
                    </button>
                    <button type="button" class="btn btn-primary" @click="delMore()">批量删除</button>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover table-condensed ">
        <tr class="info">
            <td>选择</td>
            <td>用户ID</td>
            <td>用户名</td>
            <td>密码</td>
            <td>昵称</td>
            <td>性别</td>

            <td>邮箱</td>
            <td>角色</td>
            <td>状态</td>
            <td>注册时间</td>
            <td>最后登录时间</td>
            <td>操作
            </td>
        </tr>
        <tr v-for=" user in list">
            <td><input type="checkbox" v-bind:value="user.id" v-model="ids"></td>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.nickname}}</td>
            <td>{{user.sex}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.status | showStatus}}</td>
            <td>11111114</td>
            <td>11111115</td>
            <td>
                <a href="#" class="btn-group btn-group-xs active" role="group" @click="deleteU(user.id)">删除</a>
                <a href="#" class="btn-group btn-group-xs active" role="group"
                   onClick="return confirm('确定启用吗?');">启用</a>
                <a href="#" class="btn-group btn-group-xs active" role="group"
                   onClick="return confirm('确定禁用吗?');">禁用</a>
                <a href="#" class="btn-group btn-group-xs active" role="group" @click="editU(user)">编辑</a>
            </td>
        </tr>
    </table>
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="上一页" v-on:click="upPage()">
                        <span aria-hidden="true">上一页</span>
                    </a>
                </li>

                <li v-for="pIndex in page.pageList"><a @click="getUsersList(pIndex)">{{pIndex}}</a></li>

                <li>
                    <a href="#" aria-label="下一页" @click="downPage()">
                        <span aria-hidden="true">下一页</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script src="plugins/jq/jquery-3.6.0.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/vue/vue.js"></script>
<script src="plugins/layer/layer.js"></script>
<script>
    Vue.filter('showStatus', function (status) {
        return status === 1 ? "启用" : "禁用";
    });

    var app = new Vue({
        el: '.my-body',
        data: {
            list: [],
            //定义分页对象
            page: {
                nowPage: 1,
                maxSize: 0,
                pageList: []
            },
            editUser: {
                id: 0,
                username: '',
                password: '',
                nickname: '',
                email: ''
            },
            searchData: {
                uname: '',
                passwd: ''
            },
            //定义数组，存放删除/批量删除的id
            ids: [],
            //全选标志
            allSelect: false
        },
        methods: {
            getUsersList: function (index) {
                this.page.nowPage = index;
                $.ajax({
                    url: 'user-list.ajax',
                    type: 'POST',
                    data: {
                        index: index,
                        username: app.searchData.uname,
                        password: app.searchData.passwd
                    },
                    dataType: 'JSON',
                    success: function (resp) {
                        app.list = resp.dataList;
                        app.runPage(resp.pageCount);
                    },
                    error: function () {
                        alert("系统错误，请联系管理员！")
                    }
                })
            },
            deleteU: function (id) {
                //layer替代原来的confirm
                layer.confirm('确认要删除数据吗？', {btn: ['删除', '取消']}
                    , function (index) {    //弹窗允许多个，index为弹窗多标识，用于关闭时识别
                        $.ajax({
                            url: 'user-delete.ajax',
                            type: 'POST',
                            data: {
                                ids: id
                            },
                            dataType: 'JSON',
                            success: function (resp) {
                                if (resp.delete) {
                                    //关闭确认框
                                    layer.close(index);
                                    // layer.alert("删除成功！");
                                    app.getUsersList(app.page.nowPage);
                                    //删除成功后要清空集合，不然原先的ids值会一直保留
                                    app.ids = [];
                                } else {
                                    layer.alert("删除失败！");
                                }
                            },
                            err: function () {
                                layer.alert("系统故障，请联系管理员！");
                            }
                        })
                    })

                // var type = confirm("确认要删除数据吗？");
                // if (type) {
                //     $.ajax({
                //         url: 'user-delete.ajax',
                //         type: 'POST',
                //         data: {
                //             ids: id
                //         },
                //         dataType: 'JSON',
                //         success: function (resp) {
                //             if (resp.delete) {
                //                 alert("删除成功！");
                //                 app.getUsersList(app.page.nowPage);
                //                 //删除成功后要清空集合，不然原先的ids值会一直保留
                //                 app.ids  = [];
                //             } else {
                //                 alert("删除失败！");
                //             }
                //         },
                //         err: function () {
                //             alert("系统故障，请联系管理员！");
                //         }
                //     })
                // }

            },
            //批量删除
            delMore: function () {
                if (this.ids.length <= 0) {
                    alert("请选择要删除的数据！");
                    return;
                }
                //注意，前端向后端传输一些关键数据时一般都用字符串；用jion将数组的各个元素拼接起来
                var idStr = this.ids.join(",");
                this.deleteU(idStr);
            },

            editU: function (user) {
                this.editUser.id = user.id;
                this.editUser.username = user.username;
                this.editUser.password = user.password;
                this.editUser.nickname = user.nickname;
                this.editUser.email = user.email;
                this.showModal();
            },
            //打开模态框；新增按钮直接调用
            showModal: function () {
                $('#editModal').modal({
                    backdrop: 'static',
                    keyboard: false
                })
            },
            //关闭模态框
            hideModal: function () {
                this.editUser.id = 0;
                this.editUser.username = '';
                this.editUser.password = '';
                this.editUser.nickname = '';
                this.editUser.email = '';
                $('#editModal').modal('hide');
            },
            saveModal: function () {
                $.ajax({
                    url: 'user-save.ajax',
                    type: 'POST',
                    data: {
                        id: app.editUser.id,
                        username: app.editUser.username,
                        password: app.editUser.password,
                        nickname: app.editUser.nickname,
                        email: app.editUser.email
                    },
                    dataType: 'JSON',
                    success: function (resp) {
                        if (resp.save) {
                            layer.alert("数据保存成功！");
                            // alert("执行成功！");
                            app.hideModal();
                            app.getUsersList(app.page.nowPage);
                        } else {
                            alert("执行失败！");
                        }
                    },
                    error: function () {
                        alert("系统故障，请联系管理员！");
                    }
                })
            },
            upPage: function () {
                if (this.page.nowPage > 1) {
                    this.page.nowPage = this.page.nowPage - 1;
                    this.getUsersList(this.page.nowPage);
                }
            },
            downPage: function () {
                if (this.page.nowPage < this.page.maxSize) {
                    this.page.nowPage = this.page.nowPage + 1;
                    this.getUsersList(this.page.nowPage);
                }
            },
            //计算分页
            runPage: function (maxSize) {
                this.page.maxSize = maxSize;
                this.page.pageList = [];
                for (i = 1; i <= maxSize; i++) {
                    this.page.pageList.push(i);
                }
            },
            //全选或取消全选
            selectAll: function () {
                //allSelect为true时，执行方法后取消全选，即把ids置空
                if (this.allSelect) {
                    this.ids = [];
                } else {
                    //allSelect为false时，执行方法为全选：把当前页面的id添加到ids里面
                    for (var i = 0; i < this.list.length; i++) {
                        this.ids.push(this.list[i].id);
                    }
                }
                //点完一次按钮后要变更下状态
                this.allSelect = !this.allSelect;
            }
        },

    });
    app.getUsersList(1);
</script>
</body>
</html>
<!--layer.alert("内容");-->